/* Universal */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-size: 62.5%;
}

/* Header */

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background-color: #22222A;
}

header .wrapper {
    position: relative;
    width: 70px;
    height: 100%;
}

header .wrapper ul {
    list-style-type: none;
    position: absolute;
    bottom: 30px;
    padding: 0;
    margin: 0;
}

header .wrapper ul li {
    display: block;
    margin: 0;
    padding: 0;
    width: 70px;
    line-height: 40px;
    text-align: center;
}

header .wrapper ul li a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Hero */

#hero {
    width: calc(100% - 70px);
    height: 100vh;
    min-height: 850px;
    background-color: #22222A;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 70px;
}

.hero-overlay {
    width: 40vw;
    height: 100%;
    position: absolute;
    z-index: 400;
    top: 0;
    background-color: #1B1B21;
}

.hero-menu {
    left: 45vw;
    position: absolute;
    z-index: 500;
    top: 30px;
}

.hero-menu a, .hero-menu i {
    font-family: 'Source Sans Pro', sans-serif;
    color: #BAC2C9;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.hero-menu a:hover {
    color: #FFFFFF;
}

.hero-menu i {
    margin: 0 20px;
}

.hero-content {
    max-width: 600px;
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 45vw;
    right: 20px;
    transform: translateY(-50%);
}

.hero-content h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4.5rem;
    margin: 0;
    color: #FFFFFF;
}

.hero-content p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #BAC2C9;
}

.hero-content strong {
    color: #FFF;
}

@media screen and (max-width: 900px) {
    .hero-overlay {
        background-color: #22222A;
        border-left: 1px solid #323238;
    }
    .hero-menu {
        left: 30px;
    }
    .hero-content {
        left: 50%;
        transform: translate(-50%, -50%);
        right: auto;
    }
}

@media screen and (max-width: 400px) {
    .hero-content h1 {
        margin-top: 80px !important;
    }
}
