<% provide(:title, "About") %>
<div class="about-content">
    <h2>ቤተ ክርስትያናችን</h2>
    <p>የሓመረ ኖህ ኪዳነ ምህረት ቤተ ክርስቲያን ላለፉት 13 ፲፫ አመታት መንፈሳዊ እና ማህበራዊ አገልግሎቶችን በኪችነር ዋተርሉ እና አካባቢው እያበረከተች የምትገኝ ቤተ ክርስቲያን ናት። ከግዜ ወደ ግዜ በምታሳየው ለውጥ እነሆ ዛሬ በደቡብ ኦንታርዮ ካናዳ ውስጥ አሉ ከሚባሉ የኢትዮጵያ ኦርቶዶክስ ተዋህዶ ቤተ ክርስቲያኖች ውስጥ አንደኛዋ ተጥቃሽ ነች። ቤተ ክርስቲያናችን መንፈሳዊ እና ማሀበራዊ አገልግሎቶችን በበለጠ ለማከናወን በእግዚያብሄር እርዳታ፣ በእመቤታችን አማላጅነት እንዲሁም በካህናት እና በምእመናን ጸሎት እየታገዘች የራስዋን ህንፃ እንዲኖራት በታላቅ ጥረት ላይ ትገኛለች።</p>
    <h2>አመሠራረት እና ታሪኳ ባጭሩ</h2>
    <p>ይህች ቤተ ክርስቲያን እ/ኢ/አ ፩፱፱፫ ዓ/ም ወይም እ/አ/አ 2001 ዓ/ም በጥቂት ምእመናኖች አነሳሽነት ተመሠረተች። በ 55 ብሪክ ዉድ ድራይቭ፣ ኪችነር (55 Brick Wood Dr, St Mark Church) በሚገኘው የቅዱስ ማርቆስ ቤተ ክርስቲያን ምእመናኑ በየሳምንቱ እሁድ እየተሰበሰበ፣ ካህን ባለመኖሩ፣ በአገላጋይ ወንድሞች አስተማሪነት እና ሰብሳቢነት፣ ጸሎት በማድረግ፣ ውዳሴ ማርያም በማድረስ፣ መንፈሳዊ ትምህርት በመማማር ቤተ ክርስቲያኗ አገልግሎቷን ጀመረች። በዚህ ሁኔታ ጥቂት ከቆየች በኋላ በምእመናኑ ጥረት ከቶሮንቶ ቅድስት ማርያም ቤተ ክርስቲያን ጋር በመስማማት ካህናቱ በየወሩ ወይም በባህላት ቀን እየመጡ የሥርዓተ ቅዳሴ አገልግሎት ይሰጡ ነበር። እ/አ/አ በ፪፻፭ ዓ/ም ቤተ ክርስቲያኗ የራሷ የሆኑ ቋሚ ካህንን፣ በማግኘቷ ሥርዓተ ቅዳሴም ሆነ ሌሎች አገልግሎቶችን አጠናክራ ቀጠለች። በአሁኑ ግዜም ከአመት ወደ አመት የምእመናኑ ቁጥር በመበርከቱ፣ የአገልጋዮች እና የዲያቆናትም ቁጥር በመጨመሩ፣ ቤት ክርስቲያኗ የምታቅርባቸው የአገለግሎት ዘርፎችም ያነኑ ያህል ተስፋፍትዋል።</p>
    <h2>አስተዳደራዊ መዋቀር</h2>
    <p>ቤተ ክርስቲያኗ በኢ/ኦ/ተ/ቤተ ክርስቲያን የካናዳ ሃገረ ስብከት ስር በሰበካ መንፈሳዊ ጉባኤ የምትመራ ስትሆን ይህም ሰበካ መንፈሳዊ ጉባኤ በየሁለት አመቱ በምልዓተ ምእመናን በሃይማኖታቸውና በምግባራቸው ቤተክርስቲያን የሚታመንባቸውን ሰባት አባላትን ከምእመናን አውጣጥታ ትመርጣለች። ለቤተ ክርስቲያናችን አስተዳዳሪ ካህኑ ሲሆኑ ተጠሪነታቸው ለሰበካ ጉባኤው ነው:: ሰበካ ጉባኤው የመንፈሳዊ እና የአስተዳድራዊ ጉዳዮችን ይፈጽማል። ይህ ሰበካ ጉባኤ ማንኛውንም የቤተ ክርስቲያን ጉዳይ ለምእመናን በማቅረብ እና በመመካከር ግልፅ በሆነ መንገድ ቤተ ክርስቲያኗን ያስተዳድራል። ከዚህም በተጨማሪ ሰበካ ጉባኤው የህንጻ ኮሚቴ አቋቁሞ ቤተ ከርስቲያን ለመግዛት እየተጋ ነው። ይህንንም ለመፈጸም የተለያዩ የገቢ ማሰባሰቢያ ዝግጅቶችን በማዘጋጀት እና ምእመናንን በመቀስቀስ ላይ ይገኛል። የሓመረ ኖህ ኪዳነ ምህረት ቤተ ክርስቲያን "የሰማይ አምላክ ያከናውናል፤ እኛም ባሪያዎቹ ተነስተን እንሰራለን።" ብሎ በመፅሃፈ ነኸሚያ ም፤፪ ቁ፤፳ እንደተጻፈ የእግዚያብሄርን ቤት መቅደስ፣ የኪዳነ ምህረትን መታሰቢያ ቤት እንስራ ብላ ለመላ ምእመናን ጥሪዋን ታቀርባለች።</p>
</div>

