<% provide(:title, "Contact") %>

 <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
<div id="map-canvas"></div>
<div class="contact-info">
    <code>
        <h2>Hamere Noah Kidanemihret</h2>
        <h3>Ethiopian Orthodox Tewahedo Church</h3>
        <h3>54 Benton Street, Kitchener, ON</h3>
        <h3>Email: example@churchwebsite.com</h3>
    </code>
</div>
<div class="message-form">
    
</div>