<div class="full-video">
  <%= video_tag "wereb.mp4", :autoplay => "true", :loop => "true", :id =>"myvideo" %>
  <div class="overlay"></div>
  <div class="overlay-text">
    <h1>Welcome To</h1>
    <h4>Hamere Noah <span style="color:#d32f2f, font-weight:bold">Kidanemihret</span> Ethiopian Orthodox Tewahedo Church</h4>
    <div class="btn-centered">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </div>
  </div>
</div>
<p>
  Body for Home page of site goes here.
</p>