<div class="full-video">
  <%= video_tag "wereb.mp4", :autoplay => "true", :loop => "true", :id =>"myvideo" %>
  <div class="overlay"></div>
  <div class="overlay-text">
    <h1>Welcome To</h1>
    <h4>Hamere Noah <span style="color:#d32f2f, font-weight:bold">Kidanemihret</span> Ethiopian Orthodox Tewahedo Church</h4>
    <div class="btn-centered">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </div>
  </div>
</div>
<div class="introduction">
  <h2>Brief words of introduction</h2>
  <h3>In the name of the Father, the Son, and the Holy Spirit, One God Amen.</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 well img1">
        <p><span class="tab"></span>
          Welcome to the official website of Hamere Noah Kidanemihret (St. Mary) Ethiopian Orthodox Tewahedo Church.
        </p>
        <p><span class="tab"></span>
          We call upon everyone to join us as we worship and glorify God according to the faith, order, and tradition of the Ethiopian Orthodox Church. This website provides information about the essential services the church provides to the community. It also contains great resources about our faith and Ethiopian tradition.
        </p>
        <button type="button" class="btn btn-primary">Explore website in English</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 well img2">
        <p><span class="tab"></span>
          Welcome to the official website of Hamere Noah Kidanemihret (St. Mary) Ethiopian Orthodox Tewahedo Church.
        </p>
        <p><span class="tab"></span>
          We call upon everyone to join us as we worship and glorify God according to the faith, order, and tradition of the Ethiopian Orthodox Church. This website provides information about the essential services the church provides to the community. It also contains great resources about our faith and Ethiopian tradition.
        </p>
        <button type="button" class="btn btn-success">Explore website in Amharic</button>
      </div>
    </div>
  </div>
  <p>If you want to learn more about the history of the Ethiopian Orthodox Tewahedo Church, <a href="#">click here</a>.</p>
</div>
<div class="mquote">
  <i class="fa fa-quote-left"><span class="tab"></span></i>
  <div id="slider">
    <div id="figure">
      <p>All things were made by him; and without him was not any thing made that was made. - John 1:3</p>
			<p>Yea, though I walk through the valley of the shadow of death, I will fear no evil: for thou art with me; thy rod and thy staff they comfort me. - Psalms 23:4</p>
			<p>A new commandment I give unto you, That ye love one another; as I have loved you, that ye also love one another. - John 13:34</p>
			<p>Trust in the LORD with all thine heart; and lean not unto thine own understanding. - Proverbs 3:5</p>
			<p>This is the day which the LORD hath made; we will rejoice and be glad in it. - Psalms 118:24</p>
    </div>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 34%">
     <span class="sr-only">34% Complete (success)</span>
  </div>
  <div class="progress-bar progress-bar-warning" style="width: 33%">
    <span class="sr-only">33% Complete (warning)</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: 33%">
    <span class="sr-only">33% Complete (danger)</span>
  </div>
</div>
<div class="cal-title">
  <h3>Our Calendar</h3>
</div>

<div class="calendar">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12 mtext">
        <p><span class="tab"></span>
          Like the Coptic calendar, the Ethiopic calendar has twelve months of 30 days plus five or six epagomenal days, which comprise a thirteenth month. The Ethiopian months begin on the same days as those of the Coptic calendar, but their names are in Ge'ez. The sixth epagomenal day is added every four years without exception on August 29 of the Julian calendar, six months before the Julian leap day. Thus the first day of the Ethiopian year, 1 Mäskäräm, for years between 1900 and 2099 (inclusive), is usually September 11 (Gregorian). It, however, falls on September 12 in years before the Gregorian leap year. 
        </p>
        <p><span class="tab"></span>
          The current year according to the Ethiopian calendar is 2007, which began on September 11, AD 2014 of the Gregorian calendar. <a href="https://www.wikiwand.com/en/Ethiopian_calendar" target="_blank"><code>continue reading</code></a>
        </p>
      </div>
    </div>
    <div class="col-md-4 mcalendar">
      <div class="col-md-12 calbox">
        <embed src="https://eotc.tekle-consulting.no/gitsawie/Gitsawe.aspx?flavour" id="mcal">
      </div>
    </div>
  </div>
</div>