<div class="full-video">
  <%= video_tag "wereb.mp4", :autoplay => "true", :loop => "true", :id =>"myvideo" %>
  <div class="overlay"></div>
  <div class="overlay-text"></div>
</div>
<p>
  Body for Home page of site goes here.
</p>