<div class="full-video">
  <%= video_tag "wereb.mp4", :autoplay => "true", :loop => "true", :id =>"myvideo" %>
  <div class="overlay"></div>
  <div class="overlay-text">
    <h1>Welcome To</h1>
    <h4>Hamere Noah <span style="color:#d32f2f, font-weight:bold">Kidanemihret</span> Ethiopian Orthodox Tewahedo Church</h4>
    <div class="btn-centered">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </div>
  </div>
</div>
<div class="introduction">
  <h2>Brief words of introduction</h2>
  <h3>In the name of the Father, the Son, and the Holy Spirit, One God Amen.</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 well img1">
        <p><span class="tab"></span>
          Welcome to the official website of Hamere Noah Kidanemihret (St. Mary) Ethiopian Orthodox Tewahedo Church.
        </p>
        <p><span class="tab"></span>
          We call upon everyone to join us as we worship and glorify God according to the faith, order, and tradition of the Ethiopian Orthodox Church. This website provides information about the essential services the church provides to the community. It also contains great resources about our faith and Ethiopian tradition.
        </p>
        <button type="button" class="btn btn-primary">Explore website in English</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 well img2">
        <p><span class="tab"></span>
          Welcome to the official website of Hamere Noah Kidanemihret (St. Mary) Ethiopian Orthodox Tewahedo Church.
        </p>
        <p><span class="tab"></span>
          We call upon everyone to join us as we worship and glorify God according to the faith, order, and tradition of the Ethiopian Orthodox Church. This website provides information about the essential services the church provides to the community. It also contains great resources about our faith and Ethiopian tradition.
        </p>
        <button type="button" class="btn btn-success">Explore website in Amharic</button>
      </div>
    </div>
  </div>
</div>