@font-face {
	font-family: nevice;
	src: url(../Fonts/nevis.ttf);
}

@font-face {
  font-family: gabo;
  src: url(../../Fonts/gabo.otf);
}


/* ========== Welcome ========== */
.welcome {
	padding-top: 40px;
	text-align: center;
	color: #585858;
	font-family: gabo;
	background: #fff;
}

.welcome h3 {
	font-size: 35px;
}

.welcome p {
	font-family: Vollkorn;
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 40px;
}

#row1 {
	width: 100%;
	padding-left: 180px;
	padding-right: 150px;
	padding-bottom: 70px;
}

.r1 {
	height: 400px;
	border-radius: 3px;
	background: #ef5350;
	padding: 0;
	overflow: hidden;
}

#img1, #img2, #img3 {
	width: 100%;
	height: 100%;
	z-index: 60;
	position: absolute;
	left: 0;
}

#top1, #top2, #top3 {
	width: 100%;
	height: 100%;
	z-index: 70;
	opacity: .3;
	position: absolute;
	color: #fff;
}

#top1 {
	background: #00796b;
	
}

#top2 {
	background: #ffff8d;
}

#top3 {
	background: #e64a19;
}

#top1 h4, #top2 h4, #top3 h4 {
	margin-top: 170px;
	font-size: 30px;
}

#link1, #link2, #link3 {
	border: 2px solid #fff;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#link1:hover, #link2:hover, #link3:hover {
	background: #fff;
	color: black;
}

#top1:hover, #top2:hover, #top3:hover {
	opacity: 1;
	/*background: #e64a19;*/
}











#btn1 {
	border: 3px solid #585858;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #585858;
	font-size: 20px;
	text-decoration: none;
}

#btn1:hover {
	color: #fff;
	background: #ef5350;
	border-color: #ef5350;
}


/* ========== Intro ========== */
.intro {
	/*background: #eeeeee;*/
	background: url("../../Images/shattered.png");
	overflow: auto;
	margin-top: 80px;
	padding-top: 70px;
	padding-bottom: 50px;
}

#cal {
	height: 410px;
}

.well {
	color: #585858;
	background: #fff;
	font-family: gabo;
	font-size: 20px;
	text-align: center;
}

.intro h3 {
	font-family: gabo;
	text-align: center;
	color: #585858;
}

.intro p {
	font-family: Vollkorn;
	font-size: 18px;
	color: #585858;
	text-align: justify;
}

.intro .col-md-12 {
	padding-left: 80px;
	padding-right: 80px;
}

#row2, #row3, #row4 {
	width: 100%;
	padding-left: 60px;
	padding-right: 30px;
}


/* ========== Layouts ========== */
#layouts {
	padding-left: 180px;
	padding-right: 180px;
}

#layouts h3 {
	font-family: gabo;
	color: #585858;
	text-align: center;
	font-size: 35px;
	padding-top: 60px;
}

#layouts p {
	font-family: Vollkorn;
	font-size: 17px;
	color: #585858;
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
}

#layouts .col-md-4, #layouts .col-md-8 {
	height: 300px;
	padding: 0;
}

.layout-images {
	width: 100%;
	height: 100%;
}


/* =========== video ========== */
#fullscreen {
	width: 100%;
	height: 600px;
	margin: 0;
	padding: 0;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

#fullscreen video {
	padding: 0;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

#fullscreen video {
	height: 300%;
	top: -100%;
}

#fullscreen video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

video {
	z-index: 10;
}

.overlay {
	z-index: 20;
	height: 600px;
	width: 100%;
	opacity: 0;
	background: #ef5350;
	position: absolute;
}

.overlay-text {
	z-index: 30;
	width: 100%;
	height: 600px;
	color: #fff;
	position: absolute;
	text-align: center;
	padding-top: 100px;
}

.overlay-text p {
	font-size: 50px;
}

#fullscreen {
	margin-top: 100px;
}

/* ========== News ========== */
.news {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 100px;
}

#row5 {
	width: 100%;
}

.news h3 {
	font-family: gabo;
	color: #585858;
	text-align: center;
	font-size: 35px;
	padding-top: 15px;
}

.news p {
	font-family: Vollkorn;
	font-size: 17px;
	color: #585858;
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
}

#row5 .col-md-8 {
	background: #ef5350;
	height: 600px;
}

/* ========== Quote ========== */
.quote {
	height: 250px;
	width: 100%;
	background: #ef5350;
	color: #fff;
	text-align: center;
	padding-top: 50px;
}

.quote h3 {
	font-family: gabo;
	font-size: 40px;
}

.quote p {
	font-family: Vollkorn;
	font-size: 25px;
}

/* ========== Sliding Images ========== 
.sliding-images {
	width: 100%;
	height: 400px;
	background: #fff;
}
*/

/* ========== Bottom ========== */
.bottom {
	background: #2B2B2B;
	color: #fff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 0;
	height: 240px;
	bottom: 0;
}

.links {
	font-size: 20px;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

.my-btn {
	border: 1px solid #505050;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-left: 15px;
	border-radius: 50px;
	padding-top: 10px;
}

.cont {
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
	border-bottom: 1px solid #505050;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.bottom h2 {
	font-family: gabo;
	font-size: ;
}

.bottom p {
	font-family: Vollkorn;
	font-size: 17px;
}