@font-face {
	font-family: nevice;
	src: url(Fonts/nevis.ttf);
}

@font-face {
  font-family: gabo;
  src: url(Fonts/gabo.otf);
}

.welcome {
	padding-top: 40px;
	text-align: center;
	color: #585858;
	font-family: gabo;
}

.welcome h3 {
	font-size: 35px;
}

.welcome p {
	font-family: Vollkorn;
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 40px;
}

#row1 {
	width: 100%;
	padding-left: 30px;
	padding-bottom: 70px;
}

.r1 {
	height: 400px;
	border-radius: 3px;
	background: #ef9a9a;
}

.r1:hover {
	background: #ef5350;
}

#btn1 {
	border: 3px solid #585858;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #585858;
	font-size: 20px;
	text-decoration: none;
}

#btn1:hover {
	color: #fff;
	background: #ef5350;
	border-color: #ef5350;
}

.intro {
	border: 1px solid black;
	background: #eeeeee;
	overflow: auto;
	margin-top: 80px;
}