body {
	margin: 0;
	padding-top: 200px;
    color: #444135;
}

header {
	height: 200px;
	padding-top: 50px;
	background: #f07057;
	font: 1em/1.5 sans-serif;
}

p {
     margin-bottom: 24px;
}

header {
   text-align: center;
}

header {
  color: #f7f8ee;
}

#main-nav, .junk {
	position: relative;
}

#main-nav {
	z-index: 150;
	margin-bottom: -80px;
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

header,
#main-nav-scrolled {
	position: fixed;
	width: 100%;
	top: 0;
}

.junk {
	height: 4000px;
	position: relative;
}

#main-nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

#main-nav > .container {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}