body {
  color: #444135;
}

p {
  margin-bottom: 24px;
}

header, .main-nav {
  text-align: center;
}

header {
  color: #f7f8ee;
}

.main-nav a {
  font-size: .9em; 
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #444135;
  display: inline-block;
  margin: 24px 12px;
}

.main-nav a:first-child {
   border-top: 2px solid #f07057;
   padding-top: 10px;
}

.main h2 {
   column-span: all;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 200px;
}

header {
  height: 200px;
  padding-top: 50px;
  background: #f07057;
}

.main-nav,
.main {
  position: relative; 
}

.main-nav {
  background: #fff;
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.main {
  background: #fff;
  padding: 110px 50px 50px;
  column-gap: 40px;
  height: 1000px;
}
