.nav-con{
position:fixed;
    top:0px; 
    margin:auto;
    z-index:100000; 
    width:100%;
    background:#eee;

}

ul>li{

    list-style:none;
    float:left;
    padding:5px;

}

li>a{

    text-decoration:none;
    color:#555;
    padding:15px;  

}
#Content{
    margin-top:50px;
    width:100%;
    overflow:scroll;

}
li:hover >a{

background:#555;
color:#fff;
 padding:15px;  

}