.map-container {
    background: #343434;
}

#map-canvas {
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
    background: #FFFFFF;
}

.contact-info h2 {
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bold;
    color: #472400;
}

.contact-info h3 {
    font-size: 20px;
    font-family: Helvetica;
    color: #3D1F00;
}

.contact-info .btn {
    margin-top: 50px;
}