@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
    background: #F0F4F5;
}

.yield-body {
    padding-top: 50px;
}

span.tab {
	padding: 0 20px;
}

/* typography */



/* header */
.navbar {
    border-radius: 0px;
    background: #292B28;
    border: 0px solid #292B28;
    margin-bottom: 0;
}

.navbar-search {
    margin-top: 14px;
}

.search-query {
    border-radius: 30px 30px 30px 30px;
    border: 0px solid #292B28;
    background: #4D4948;
    padding-left: 5px;
    box-shadow: none!important;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover {
    outline:0px !important;
    -webkit-appearance:none;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 3px 9px;
    pointer-events: none;
}

.navbar .nav > li > a {
    color: #ABA8A7;
}

.navbar ul li:hover {
    color: #BAB9B8;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ef5350;
}

@media only screen and (max-width: 850px) {
    .navbar-search {
        display: none;
    }
}

#drop-login:focus {
    background: #292B28;
}


/* footer */

.bottom {
	background: #2B2B2B;
	color: #fff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 0;
	bottom: 0;
	overflow: auto;
}

.links {
	font-size: 20px;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

.my-btn {
	border: 1px solid #505050;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-left: 15px;
	border-radius: 50px;
	padding-top: 10px;
}

.cont {
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
	border-bottom: 1px solid #505050;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
