/* Full width video style -- including overlay */

.full-video {
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    z-index: 0;
    left: 0;
    top: 0;
	right: 0;
	bottom: 0;
    position: relative;
    overflow: hidden;
    background: #000000;
}

.full-video #myvideo {
    padding: 0;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.full-video #myvideo {
    height: 300%;
	top: -100%;
	z-index: 0;
}

.full-video #myvideo {
    width: 300%;
	left: -100%;
	z-index: 0;
}

.full-video #myvideo {
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

.overlay {
    width: 100%;
    height: 500px;
    background: #fff;
    opacity: 0;
    padding: 0;
    margin: 0;
    top: 0;
	left: 0;
    z-index: 1;
    position: absolute;
    color: #fff;
}

.overlay-text {
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    top: 0;
	left: 0;
    z-index: 2;
    position: absolute;
    color: #fff;
}

@media only screen and (max-width: 350px) {
    #myvideo {
        display: none;
    }
}


/* overlay */

.overlay {
    background: #363534;
    opacity: .4;
}

.overlay-text {
    padding-top: 130px;
}

.overlay-text h1 {
    text-transform: uppercase;
    font-family: 'Helvetica';
    letter-spacing: 2px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.overlay-text h4 {
    text-align: center;
    font-family: 'Helvetica';
    margin-bottom: 50px;
    font-weight: bold;
}

.overlay-text .btn-centered {
    text-align: center;
}

.btn {
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
}