<style>
    #mfooter {
        display: none;
    }
</style>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu
                </a>
            </li>
            <li><%= link_to "Ethiopian Orthodox Church History",             eotc_path %></li>
            <li><%= link_to "The Five Pillars of our Church",             pillars_path %></li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" id="cont-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-sub">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="content-sub">
                        <h1>History of the Ethiopian Orthodox Tewahedo Church</h1>
                                <p>"The Ethiopian Orthodox Tewahedo Church is an ancient church which upholds the Apostolic Teachings"</p>
                                
                                <h2>Definition of Terms</h2>
                                
                                <h3>Ethiopia</h3>
                                <p>The term “Ethiopia”, which means “burnt face” in Greek, was first used by Homer and Herodotus to refer to the place between south of Egypt and Indian Ocean because the area was inhabited by people having that colour. Ancient Egyptians used to call the place south of their country as “Land of the Cush”. Prophet Moses used the term to refer to that place because he grew up in Egypt learning their language and culture. The Seventy Scholars, who lived in the second century B.C. and translated the Holy Bible from Hebrew into Greek, used the term “Ethiopia” to refer to the place that Moses called “Cush”.  This term has been mentioned more than 40 times in the Holy Bible. Currently the term Ethiopia is used to refer to the East African country which has an area of about 1,119,683 Km2.</p>
                                
                                <h3>Orthodox</h3>
                                <p>Orthodox means, in Greek, straight or right. This term was used as part of the name of the church by the bishops and scholars of the church who attended the Council of Nicea (a city near the current Istanbul). The council was summoned because of Arius’ false teachings on the nature of Christ. The scholars and bishops called their faith “Orthodox” after defeating Arius in the argument in the council. Currently, six oriental churches, namely the Ethiopian, Egyptian, Syrian, Indian (Malankara), Armenian and Eritrean churches and other Eastern Churches like the Russian and Greek churches use the name “Orthodox”.</p>
                            
                                <h3>Tewahido</h3>
                                <p>Tewahido stands for the term incarnation or union, which in other words means oneness, and shows the Son being perfect God- perfect man, but as one entity, which is the basic dogma of the church. Our church believes that the Son, who existed before the creation of this world, came to this world and assumed the human flesh and soul, and in doing so, he has become a perfect God - a perfect man, having just one entity. </p>
                                
                                <h3>Church</h3>
                                <p>This term stands for what is known as “ecclesia” in Greek. It means a congregation or assembly of Christians. In addition, it is used to refer to a place designed for worship and prayer by Christians, the administration of the church and also each individual Christian.</p>
                                
                                <h2>History of the Ethiopian Orthodox Church</h2>
                                
                                <h3>Belief in God</h3>
                                <p>Human beings, in different times, have been worshiping God in three different rules: the Rule of Conscience, the Rule of Mosaic Law and the Rule of Gospel.</p>
                                
                                <h4>The Rule of Conscience</h4>
                                <p>The Rule of Conscience was the first rule given to human beings. God created man kind to be conscious of the good and bad things. Man kind lived by this rule for about 4000 years from Adam to Moses (until about 1500 B.C.), and there was no written rule at that time. </p>
                                
                                <h4>The Rule of Mosaic Law</h4>
                                <p>This rule was given to man kind during the exodus of the Israelites from Egypt to Canaan being led by Moses. This rule was constituted of Ten Commandments and other detailed commandments of worship. The people from the time of Moses to Jesus Christ lived by this rule. </p>
                                
                                <h4>The Rule of Gospel</h4>
                                <p>After man kind lived for about 1500 years by the rule of Law, the time came for the redemption of man. God sent his Son to this world and He was born from Our Lady Saint Mary (Galatians 4:4). God the son is a perfect God and man lived and taught in this world for 33 years and three months. During these years, he made the perfect rule that is the Gospel, by teaching the world saying, “You have heard that it was said so to those who lived in the past, but I say unto you…” therefore we have been and still are worshiping God and living by the rule of the Gospel for more than 2000 years now.</p>
                                
                                
                                <h3>Worship of God in Ethiopia</h3>
                                <p>Ethiopia has been worshipping God in the above three eras (rules). </p>
                                
                                <h4>The Rule of Conscience</h4>
                                <p>Ethiopia was known as the land of God during the era of the Rule of Consciousness. While the other parts of the world, except the Israelites, were worshipping idols, Ethiopia worshipped God. This was done through Noah’s children and grand children who came to our country and spread their faith. Traditional sources show that Ham, one of the children of Noah, came to Africa and his children established the country and state of Ethiopia.  The following are some of the citations in the Holy Bible that prove this point.</p>
                                <ul>
                                    <li>Moses’ wife (Zipporah) was an Ethiopian (Numbers 12:15). According to the rule of Israelites, marriage with the nonbelievers was prohibited. Moses married the Ethiopian because she followed the same faith of his fathers, through the rule of Conscience.</li>
                                    <li>Queen Sheba went to visit King Solomon and his wise deeds. When she reached in Jerusalem and met him, she said, “Blessed be the Lord thy God, which delighted in thee, to set thee on the throne of Israel” (I Kings 10:9). This shows that there was worship of God in Ethiopia by then.</li>
                                </ul>
                                
                                <h4>The Rule of Law</h4>
                                <p>Ethiopia was worshipping God by the Rule of Conscience until the time of Queen Sheba. Around 950 B. C. Queen Sheba went to Jerusalem and paid a visit to King Solomon. When she returned, she came with the Mosaic Law. Her son, Minilik I, whom she conceived from Solomon during her visit, went back to Jerusalem and brought the Holy Ark of the Covenant Tabote Tsion. These made the country to be the second country to follow the Rule of Mosaic Law, which it followed until the coming of the Christ.</p>
                                
                                <h4>Christianity (the Gospel)</h4>
                                <p>The story that shows how Christianity came to Ethiopia is presented in the Acts (8:26-40) as follows.
And the angel of the Lord spoke unto Philip, saying, Arise and go toward the south, unto the way that goes from down from Jerusalem unto Gaza, which is desert. And he arose and went: and, behold, a man of Ethiopia, an eunuch of great authority under Candance Queen of the Ethiopians, who had the charge of all her treasure, and had come to Jerusalem forworship, was returning and sitting in his chariot reading the book of  Isaiah  the Prophet. Then the Spirit said unto Philip, Go near, and join thyself to this chariot.  And Philip ran thither to him, and heard him read the prophet Isaiah, and said, Understandest thou what thou readest? And he said, how can I except some man should guide me? And he desired Philip that he would come up and sit with him. The place of the scripture which he read was this, He was lead as a sheep to the slaughter; and like a lamb dumb before his shearer, so opened he not his mouth: In his humiliation his judgment was taken away: and who shall declare his generation?  for his life is taken from the earth.  And the eunuch answered Philip, and said, I pray thee, of whom speaketh the prophet this? of himself, or of some other man? Then Philip opened his mouth, and began as the same scripture, and preached unto him Jesus. And as they went on their way, they came unto certain water: and the eunuch said, See, here is water; what doth hinder me to be baptized? And Philip said, if you believest with all thine heart, thou mayest. And he answered and said, I believe that Jesus Christ is the Son of God.  And he commanded the chariot to stand still; and they went down both into the water, both Philip and the eunuch; and he baptized him.”</p>
                                <p>The writers of church history Eusebius the Caesarea and Herennius as well as St. John Chrysostom wrote that this eunuch came back to Ethiopia and preached Christianity. So, Christianity came to Ethiopia in 34 A.D. </p>
                                <p>Nevertheless, there was no priesthood until the fourth century. The sacraments of the church like the Mystery of the Eucharist and the Mystery of Baptism were not performed. The sacraments were started to be performed by Saint Freminatos (Abba Salama), who grew up in Axumite Palace and was appointed as Bishop of Ethiopia by the 17th Patriarch of Alexandria, Saint Athanasius. </p>
                                <p>After this time, the Ethiopian Orthodox Tewhido Church passed through a lot of ups and downs and has seen several successful accomplishments.  We present the short history of our church from the fourth century until now.</p>
                                
                                <h4>328-451 E.C.</h4>
                                <p>Abba Salama, together with Ethiopian Scholars, preached Christianity in all directions of the country- up to the current day Sudan in the west, up to the current day Somalia in the south and  up to South Arabia (current day Yemen). He translated many holy books into Geez.</p>
                                
                                <h4>451-632 E.C.</h4>
                                <p>The Nine Saints, who were suffering at the hands of the Catholics because their Orthodox faith and refusal to accept the Council of Chalcedon held in 444 E.C, made the fugitives and then come to Ethiopia. The Nine Saints preached the Gospel in the northern part of the country, established and promoted monastic life and translated many books into Geez from different languages. St.Yared rose at this age and contributed a lot in church education, church hymn and liturgy. King Caleb the saint and his son Gebre Meskel established monasteries all over Ethiopia and protected Christians in Yemen.</p>
                                
                                <h4>632-925 E.C.</h4>
                                <p>During this time, the activities of the church that has been growing since the fourth century were weakened because of the following two reasons. The first one was the rise of Islam in Arabia, which resulted in the weakening of our church’s contact with the Christian in the outside world because of the seizure of the sea route. The second one was the rise of Judith as a leader of the followers of Judaism in Ethiopia and the destruction she brought by  killing and prosecuting  Ethiopian Christians, burning of the churches and scriptures.</p>
                                
                                <h4>925-1500 E.C.</h4>
                                <p>This is the era in which the activities of the Ethiopian Orthodox Tewahido Church, its apostolic mission and spiritual services grew higher. </p>
                                <p>Abba Iyesus Moa established the Haiq Estifanos Monastery and taught many disciples.  Many of the fathers educated in the monastery went out in different directions and preached the Gospel: Abune Tekle Haimanot taught southern Ethiopia, Abba Giorgis in Bete Amhara, Abune Istinfase Kirstos in Dawunt and its environs and Abune Zena Markos in Gurage highlands, central Ethiopia. </p>
                                <p>These fathers also established different monasteries and taught many disciples who went and preached the Gospel in different parts of the country. In the north Abune Medhanine Egzi and his disciples, who were called the Seven Stars, preached Christianity and established monasteries in Tigray.</p>
                                <p>Due to all these, this era was a time when the spiritual activities and life of the church reached higher standard and even the kings became priests.</p>
                               
                                <h4>1500-1585 E.C</h4>
                                <p>This era was the time when the church suffered a lot due to a lot of events.</p>
                                <p>Aggression of Muslim Fundamentalism : Around 1500 E.C., Ahmed the Left Handed, with the help of the Turkish Empire, which was powerful during that time, killed many Christians , forcefully  converted many to Islam, slaughtered priests, and burned a huge number of monasteries, books and even Christians alive.</p>
                                <p>The Coming of the Catholics: The invasion of Ahmed the Left Handed begat another problem. The leader of the country during the invasion, Atse Libna Dingil, called for help from Portugal to stop the aggression. Though the support was delayed for several reasons, it finally came and the Christians defeated Ahmed the Left Handed with the help of the Portuguese. However, the messengers of the Catholic Church who came with the Portuguese soldiers requested Catholicism to be the official religion of Ethiopia. Though the question did not get a positive response at that time, it created a chance for Catholic missionaries to come to Ethiopia in different times after that. Thus, by telling the kings that they would bring them weapons and support, they crated a lot of problem through out a country. One of the kings, Atse Susinios, in order to get the promised weapons and support, declared that he accepted Catholicism as his faith and tried to force the people to accept it. As a result of this, civil war broke out and many of the faithful became martyrs. Finally, when Atse Susinios became ill and unable to speak, he declared,   “Catholicism be disgraced, and orthodox Tewahido to be reinstated”, and gave his throne to his son Atse Fasil
Kibat and Tsega: When Atse Fasil assumed the throne, he drove out the Catholics from the country. However, the leader of the Catholics, Alfred Mendez, taught two Ethiopians two different heresies called unction /“kibat”/ and adoption /“tsega”/.  Added up on the previous problems these two heresies weakened the church more.</p>
                                
                                <h4>The Era of Princes (1769-1855)</h4>
                                <p>This was a time when Ethiopia had no strong central administration, and hence power was shared between regional lords. This made the church to have no centralized administration and thus was unable to reach those who were affected by the Islamists’ invasion. As a result, many areas which were Christians converted to Islam and idol worship. In addition, the situation created a chance for the Catholic missionaries to get inside the country.</p>
                                
                                
                                <h3>The End of the Era of Princes</h3>
                                <p>After the end of the era of princes (1855-1951 E.C.), the number of followers of the kibat and tsega heresies diminished. The scholarly argument between the Tewahido on the one hand and the kibat and tsega ended with the victory for the Tewahido scholars. The Ethiopian Orthodox Tewahido Church got a relative peace and started to search for the faithful who did not get any shepherd after the invasion of Ahmed the Left Handed. Its apostolic services started to grow. Nevertheless, it was not easy to search for the Christianity which was covered by weeds for a long time.</p>
                                <p>In order to curb this problem and strengthen the apostolic services of the church in Ethiopia, four Ethiopians were sent to Cairo and were appointed bishops in 1921 E.C. They were Abune Abraham, Abune Yishaq, Abune Petros and Abune Michael.</p>
                                
                                <h3>The Italian Occupation</h3>
                                <p>The Catholics continued raising their hands on Ethiopia. The Roman Catholics, seeing that it was impossible to conquer the Ethiopian Church   through preaching since the time of Atse Susinios, became determined to invade the country with their army. The church succeeded in defeating them by taking the arks to the battlefield. at the Battle of Adwa, with the help of God. After forty years, when Mussolini invaded Ethiopia, the Roman Pope, referring the invasion as “a holy campaign” blessed the tanks, canons and the army assuming that it was the best chance to convert the Ethiopian church into Catholicism. The cardinals and bishops of Italy gave support to the war. The faithful were ordered by priests in parishes to contribute money to the war on Ethiopia. It was the Catholic priests who were advising Mussolini and there were many Catholic priests who fought wearing the uniforms of the Italian army. </p>
                                <p>Because of the war, many of the treasures of the church were looted and taken to Vatican, which sponsored the war. According to the statistics taken later of the United Nations, two thousand monasteries and churches were looted by them. In different monasteries and churches like Debre Libanos, Lalibela, Axum, Gondar and Ziquala many priests, monks, and the faithful died for their faith and their country. His Grace Abune Petros and His Grace Abune Michael of the Gore were executed by the Italians with a machine gun, which was blessed by the Roman Pope. This halted temporarily the growing services of the church.</p>
                                <p>The influence of the Catholics could be seen in the unorthodox features that are found in some of the parishes in Ethiopia: three dimensional sculptures instead of the Icons in the churches, the building and decoration of tombs, naming bigger churches as “cathedral” rather than the names “debir” or “monastery” can be cited as examples.</p>
                                
                                <h3>End of the Italian Occupation</h3>
                                <p>After the Italian occupation ended in 1933 E.C. (1940), the church started to recover from the problems it faced. In 1951, the church got Ethiopian archbishops appointed. His Grace Abune Basilios became the first Ethiopian archbishop: he was consecrated archbishop in Cairo by his Holiness Abune Yosab. This made apostolic services of the church grow. Many of the faithful from the Caribbean Islands joined the church. Many books which were written in Geez started to be translated into Amharic. Because the church’s foreign relations was strengthened, the five oriental churches met in Addis Ababa in 19…E.C for the first time after the 444 E.C. or after the Council of Chalcedon.</p>
                                <p>The Era after Ethiopia Secured Its Own Patriarchate
The Ethiopian Orthodox Tewahido Church got opportunities and faced challenges after it secured its own patriarchate; Abune Basilios became the first Ethiopian Patriarch in 1951 E.C.   Because of the promotion of the Ethiopian church to a patriarchate, it was possible to appoint bishops to different dioceses who know the language and the culture of the people. This was the greatest achievement to the church, which was suffering from the shortage of priests.  The gold and different gifts that the church used to send to the Islamic leaders of Egypt and the pleadings it used to make to get a patriarch consecrated became history. Many churches were constructed in America, West Indies and Europe. After the death of Abune Basilios, Abune Tewoflos was appointed Patriarch of the church. During his patriarchate, Parish Administration Councils and Sunday Schools were established, and these two made the direct participation of the faithful possible. Nevertheless, the youth who were attending modern education became alien to the church as they were not taught about their church simultaneously with the modern education. Many of those who claimed to be educated became proponents of the Western and Eastern European ideologies such as Protestantism, Marxism and Leninism, which gave momentum at that time for the later revolution. This was the time when many started to consider a religious man was backward, which was really a campaign led by the Protestant and Catholic missionaries. Many missionaries opened schools and health care centers, which made the fathers of the Church to doubt the role of these institutions. The youth became a source of problem, and they seemed as if they could not be trusted by the church at all- a very big gap developed. </p>
                                <p>On top of this, a very sad phenomenon emerged: atheism was decreed by the ‘Derg’. The patriarch of the church, Abune Tewoflos was murdered. All the properties of the church which itused for social development and fulfill its apostolic mission were taken by the government. Monasteries became helpless as their land was confiscated. The main gates of some churches were closed, and the priests and the faithful were forced to use small backside outlets. In general, this was the time when the church was attacked morally as well as psychologically.</p>
                                <p>After the fall of the Derg in 1983 E.C., there were both positive and negative conditions which the church has passed thorough. The return of the freedom of faith, the partial return of the confiscated properties of the church, the permission to publish spiritual materials, establishment and strengthening of Sunday schools in parish churches, the construction of new buildings for development purposes in the compounds of some churches, the involvement of the educated section of the society in the activities of the church and the restart of spiritual services are among the positive aspects of this times after change of the ‘Dergs’ government.</p>
                                <p>Despite these achievements, there have been a number of problems that the church has faced in the aftermath of the fall of the Derg regime. The execution of the apostolic services has not been systematic and coordinated; the apostolic missions conducted have been incomparable to the huge demand and the magnitude of the problem that exists; the church has been held responsible for the several problems that occurred in the past as if the church itself had not faced any of the problems; there has been ethnocentricism both inside and outside church; the activities of fundamental Islamists created a very huge problem on the faithful of the church; and there are also some administration problems within the church. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>