<style>
    #mfooter {
        display: none;
    }
</style>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu
                </a>
            </li>
            <li><%= link_to "Ethiopian Orthodox Church History",             eotc_path %></li>
            <li><%= link_to "The Five Pillars of our Church",             pillars_path %></li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" id="cont-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-sub">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="content-sub">
                        <h1>Pillars</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>