<style>
    #mfooter {
        display: none;
    }
</style>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu
                </a>
            </li>
            <li><%= link_to "Ethiopian Orthodox Church History",             eotc_path %></li>
            <li><%= link_to "The Five Pillars of our Church",             pillars_path %></li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" id="cont-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-sub">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="content-sub body-content-sub">
                        <h1>FIVE PILLARS OF MYSTERY</h1>
                        <p>The Ethiopian Orthodox Church has five pillars of Mystery through which it teaches and demonstrates its basic religious belief. They are called pillars of Mystery because they support and strengthen the faithful in religious teachings as a polar supports a roof. These mysteries have Biblical foundation (1Cor. 14:19). Accordingly, the five pillars of mystery are expressed in the creed, which is the confession of our faith.</
                                                
A. Mystery of the Trinity

In this section, the mystery of Unity and Trinity of the Triune God is described.

|
The Holy Trinity is three in name, in person (Akal, in Amharic), in deed and one in essence, in divinity, in existence, in will.

Three in name: - Father, Son, Holy Spirit
Three in deed: - the Father is the begetter
The son is begotten
The Holy Spirit is the one who proceeds.
Three in person: - the Father has a perfect person
The Son has perfect 
The Holy Spirit has a perfect person
The Father is the heart, the son is the word, and the Holy Spirit is the life (breath.)
The Father is the heart for Himself, and He is the heart for the Son and for the Holy Spirit. The Son is the word for Himself, and He is the word for the Father, and for the Holy Spirit. The Holy Spirit is the life (breath) for Himself, and He is the life (breath) for the Father and the Son.

Even though we say the Trinity are three in name, in deed and in person; the three are one in essence, in divinity, in existence and in will; we do not mean three Gods but one God. While the Father and the Son and the Holy Spirit exist in their own perfect person, they are one in existence. (Abulidis, Faith of the Father's Chap. 40 Verse 4:6).

As Ignatius has said in the Book of the Faith of the Fathers (Haimanote Abew) the name of the Father is not changed to be the name of the Son or the Holy Spirit. The name of the son is not changed to be the name of the Father or the Holy Spirit, the name of the Holy Spirit is not changed to be the name of the Father or the Son. The Father is called Father but not the Son or the Holy Spirit. The Son is called Son but not the Father or the Holy Spirit. The Holy Spirit is called the Holy Spirit but not the Father and the Son. The father is the Father, the son is the Son, and the Holy Spirit is the Holy Spirit. The three exist eternally in their own name and person. (Faith of the Fathers Ch. 11 part 1 Verse7.8).

In their name of unity, the three are called Lord, God. Lord the Father, Lord the son, Lord the Holy Spirit one Lord. God the Father, God the son, God the Holy Spirit one God. The three hundred eighteen fathers in The Book of Faith (Haimanote Abew) said, "We believe in Lord the Father, in Lord the son, in Lord the Holy Spirit. (Hai. Ab. Ch. 19 part 1 verse 30).

The Apostolic St. Athanasius Archbishop of Alexandria said, "The Father is God, the son is God, the Holy Spirit is God. They are called one God but not three Gods." (Apostolic Athanasius Faith of the Fathers Ch. 24 part 4 Verse 4)

It is stated in many places in the Old and the New Testament Books about the Oneness and Trinity of the Holy Trinity.

In the Old Testament
Gne. 1:26; 2:18; 3:22; 11:7; 18:1 -8; Ps. 33:6; 146: 5; Isa. 6:3,8 
In the New Testament
Mt. 3:16-17; 28:19; Jn. 14:26; 2Cor.14:13; 1Pet. 1:2; 1Jn. 5:7-8

B. Mystery of Incarnation

God created Adam and Eve without sin and death. "God did not make death.” But, man, through his transgression brought on himself misery and suffering as well as sin and evil, and was condemned to death - death of body and soul, grave and hell (Gen. g:319-24). "For God did not make death, he takes no pleasure in destroying the living. Do not court death by the errors of your ways, nor invite destruction through the work of your hands. To exist for this he created all things the creatures of the world have health in them, in them is no fatal poison, and Hades has no power over the world. But the godless call for death with deed and word, counting him friend, they were themselves out for him; with him they make a pact, working as they are to belong to him" (Wis. 1:12-26; Rom. 6:23). "For God hath not appointed us to wrath, but to obtain salvation by our Lord Jesus Christ" (1Thes. 5:9). Adam and Eve disgraced and impoverished themselves they were expelled from the Garden of Eden. They brought suffering and misery and were subject to the dominion of the devil. Death reigned from Adam to Christ, even to them that had not sinned. (Rom. 5:12-14). They knew that, all that happened due to their transgression and violation of the commandment of God. They regretted and repented. They cried to their creator seeking mercy. God in his forgiveness along with his judgment, hearing their cry, observing their tears and accepting their repentance, was pleased to redeem them, and gave them promise. (Isa. 63:8; Heb. 2:14-16).

When the appointed time has come forth, God sent his only begotten son, according to the promise. God the Son descended from heaven and was born from the Holy Virgin Mary. He was born so that all who believe in Him would be saved. When it is said, that He became man, it is said to mean that he united to himself the body and soul of man. Then all the words of the prophets were fulfilled. (Isa. 7:14, 9:6; Mich. 5:2; Gal. 4:4).

Without separation of his Divinity from His humanity and His humanity from his Divinity, He became one person, one nature without change, without confusing, without separation and without division. "He is one son and one Christ before and after his Incarnation" (Cyril. Faith of the Fathers Ch. 78 part 48 Verse 9-18). St. Gregory of Nazianzium said, "He is the only God the Son who became man and the only man who became God in unity" (Faith of the Fathers Ch.61 part 4 verses 23). John Chrysostom has written that the union of the Divine Word honored the human body. The poverty in the nature of the flesh was abolished by the Unity of the word of God with the Flesh, and the flesh retained the glory of the word of God to itself by the unity. (Jn. Chrysostom, Faith of the Fathers Ch. 66 part 9 verse 18-19).

After birth, he grew like men, doing all human works except sin. He taught 33 years and 3 months in the world. For us men he died on the Cross, destroyed death by his death, and saved the world. He was laid in the tomb for three days and three nights; rose from the dead on the third day; appeared to His disciples, stayed on earth from forty days, gathering his disciples and teaching them the Book of the Covenant. On the fortieth day, while the disciples beheld, He ascended unto heaven to the father in glory praised by angels, sat at the right hand of His father, and will come again to judge the living and the dead, when everyone will be recompensed according to his work. (Jn. 3:13; 1pet. 3:22; Mt. 25:31; Eph. 4:8-10; Acts 2:30: 2cor. 5:14;

Therefore, the teaching highlighted in the Mystery of incarnation is to believe that Christ is the word of the father and of the Holy Spirit, thus the Virgin Mary is the true Mother of God, the Mother of the Word

C. Mystery of Baptism

Baptism is the sacrament given to all who believe in the Mystery of the Trinity and the Mystery of Incarnation for the remission of sin, to obtain adoption from the Triune God, to inherit the kingdom of God. It is called mystery, because, when the priest recites the prayer of baptism over the water and blesses it, it will be changed and become the water that flowed from the right side of our Lord Jesus Christ and one can receive the invisible grace of the adopted sonhood of God (Jn. 19:34-35). Whosoever believes and is baptized, shall get remission of sin. "We believe in one baptism for the remission of sin" (Creed). Every person is born from God through baptism, and will be free from damnation. "He that believes and is baptized shall be saved; but he that believeth not shall be damned" (MK. 16:16; Acts 2:28). To be born of the Trinity is for inheriting the kingdom of God. Our Lord has taught baptism. "Verily, verily I say unto thee, except a man is born of water and Spirit, he cannot enter into the kingdom of God." (Jn. 3:5; Tit. 3:4-7).

There were prophecies and symbols foretold by the laws and the prophets about Baptism
a. Prophecy: "Then will I sprinkle clean water upon you, and ye shall be clean." (Ezek. 36:25; Cich 7:19)
b. Symbols 
Circumcision: - Circumcision in the Old Testament was practiced as a sign of baptism. It was given to Abraham as a token of the covenant.

Every one that was not circumcised on the eighth day after birth was to be cut off from his people, shared not from the promise, and /or shall have no portion from the Promised Land. The uncircumcised were not considered as the nation of God. (Gen. 17:7-14).

In the New Testament, circumcision was replaced by Baptism. Every one that is not baptized was not born of God and cannot inherit the heavenly kingdom. (Col. 2:11).

John the Baptist, at the end of the Old Testament and at the beginning of the New Testament was baptizing with water. (MK. 1:4-8).
The Ark of Noah and the crossing of Israelites across the Red sea were symbols of baptism. (1Pet. 3:19; 1cor. 10:2)

To fulfill the prophesy and to make the archetype real, our Lord and Saviour Jesus Christ was baptized in the water of the River Jordan by the hand of John the Baptist. (Mt. 3:16; Mk. 1:9; LK. 3:21; Jn. 1:31). The Ethiopian Orthodox Church baptizes children, males on the fortieth day and females on the eightieth day. This signifies that the first persons obtained adoption from God. (Jublilee 4:2 - 15).

D. Mystery of the Holy Communion

Mystery of the Holy Communion is a supreme act of life through which we can hold intimate communion with God and that, which makes us one with God. "Verily, verily, I say unto you, except ye eat the flesh of the son of Man, and drink his blood; ye have no life in you." "Who so eateth my flesh, and drinketh my blood hath eternal life. My flesh is meat indeed, and my blood is drink indeed, for it is a real food. He that eateth my flesh, and drinketh my blood, dwelled in me, and I in him. "(Jn. 6:53-57).

There are prophecies and symbols given about the Holy Communion

a. Prophecy
• "Thou have put gladness in my heart, more than in the time that their corn and their wine have increased.” (Ps. 4:7)
• "Wisdom has builded her house, she has hewn out her seven pillars. She has killed her beasts; she hath mingled her wine; she hath also furnished her table. She hath sent forth her maidens; she crieth up on the highest place of the city." (Prov. 9:1-3).
• "The prime needs of human beings for living are water, wheat… and juice of grape.” (Sirach 39:26).

These prophecies were foretold about Jesus Christ, the Lamb of Passover, who was crucified on the cross as to give his flesh and blood in the form of bread and wine.

Symbol

When the children of Israel were liberated from the bondage and went out of Egypt, they were told to kill a lamb, eat the flesh, take the blood, and sprinkle it on the two side posts and on the upper doorpost of the houses, in order to get security from the plague of the firstborn. This was applied as a symbol of Jesus Christ the son of God, who was crucified and gave his flesh and bold as a ransom to the children of men. "This is the lamb of God, who takes away the sin of the world.” (Jn. 1:29). Melchizedek, who is the archetype of the priesthood of Jesus Christ, the son of God, offered a sacrifice in the form of bread and wine. (Gen. 14:18).

To fulfill these prophecies and realize the symbols, examples, our Lord and Saviour Jesus Christ on Thursday evening at the Passover, took the bread, blessed it, broke it, gave it to his disciples, and said, this bread, which I give you, is my flesh. In the same manner, he took the cup, blessed it, and gave it to his disciples, saying, "This is my blood which will be shed for you and for many people, for the new covenant, for the remission of sin. (Mt. 26,28; MK. 14:22; Lk. 22:19). This mystery is always performed in the Ethiopian Orthodox Tweahedo Church.

When the priest puts bread on a patent and the wine in a chalice and blesses them with the liturgical prayer, the bread and the wine are changed into the real flesh and blood of the son of God. This was made clear by the scholar St. Athanasius when he said, "we believe, that the bread and the wine are bread and wine before they are blessed by the priest, but after they are blessed by the priest the bread and the wine are changed to the real flesh and blood of the son of God." (Ath. Faith of the Father Ch. 28 part 14 verse 22).

Therefore, the Holy Communion, which the disciples received on Thursday evening, that which was crucified on the cross on Friday, and that which is being practiced at every corner to the end of the world is the same. The Ethiopian Orthodox Church believes and teaches that the flesh and blood is not simply a memorial or symbolic but real flesh and blood of the son of God. The pure sacrifice that the clergy offers is the same sacrifice that was given up on the cross on Calvary. (Jn. Chr. Liturgy 85).

E. Mystery of the Resurrection of the Dead

Resurrection is the Mystery of life after death. All those who have departed from the time of Adam, and will pass away until the second coming of Christ, will be raised in the union of body and soul. The souls of the righteous shall abide in paradise and the souls of sinners in heads until the end of this world but on the last day, when our Lord and savior Jesus Christ shall come in His glory, to judge the living and the dead, the souls shall be united with their bodies on the day of resurrection and they shall rise from the dust of the earth. (Lk. 16:19-31).

"Marvel not at this: for the hour is coming; in which all that are in the graves shall hear his voice and shall come forth; they that have done good, unto the resurrection of life; and they that have done evil, unto the resurrection of damnation." (Jn. 5:28).

Many passages could be cited from the old and New Testament books about the doctrine of death and the afterlife. The word of God is Deuteronomy 32:39 "I kill, and I make alive" shows the hope of resurrection. Isaiah the prophet says, "The dead men shall live. Together with my dead body shall they arise. Awake and sing, ye that dwell in dust: for they dew is as the dew of herbs, and the earth shall cast out the dead." (Isa 26:19-20).

Daniel the prophet has written ". . . and at that time thy people shall be delivered, everyone that shall be found written in the book. And many of them that sleep in the dust of the earth shall awake, some to shame and everlasting contempt. And they that be wise shall shine as the brightness of the firmament; and they that turn many to righteousness as the stars forever and ever.” (Dan. 12:1-3). Job said "for I know that my redeemer liveth, and that he shall stand at the latter day, upon the earth: And though after my skin worms destroy this body, yet in my flesh shall I see God: whom I shall see for myself and mine eyes shall behold, and not another," (Job. 19:25-27)

The teaching of the resurrection of the dead is not only told orally. It has been proved in practice when many among the departed came forth out of the grave and appeared in public. The prophets Elijah and his disciple Elisha raised the dead. (1Kgs. 17:21; 2Kgs. 13:21). Jesus Christ the Lord, and his disciples raised the dead in their ministry during the proclamation of the gospel. (Mt. 9:25; Lk. 7:15; Jn. 11:14). Likewise, the Apostles also raised the dead during their apostolic ministry.

On the day of the crucifixion of our Lord Jesus Christ, the graves were opened and bodies of many saints came out. (Mt. 27:52). All these prove the truth of the resurrection. All those that sleep in the dust of the earth shall come to life at the last judgment. Our belief in our resurrection is based on the resurrection of Christ. "Knowing that he which raised up the Lord Jesus shall raise up us also by Jesus, and shall present us with you." (2Cor. 4:14). The church scholars Amoneos and Eusabios said, "Christ is risen, in order to make it known to us that our body shall arise" (preface of the Gospel).

Resurrection is for all human beings. Both the righteous and unrighteous arise. The final resurrection waits the last day at the second coming of our Lord and Savior Jesus Christ. Our Lord and Savior Jesus Christ shall come in His glory at the end of the world to judge the living and the dead. (Ps. 50:2; Mt. 25:31-32; Rev. 1:7).

At that time, he shall send forth his angels with a great sound of a trumpet. The dead shall arise. The earth will restore that which was entrusted to it then he shall set the righteous on his right hand, but the sinners on the left hand. All arise carrying their works, which followed them from the earth; the righteous will be sanctified with the word of blessing, but the sinners will be rebuked with the word of accusation. The righteous shall shine as seventies as the sun, and inherit the kingdom following Christ, while the sinners shall go away into everlasting punishment prepared for the devil and his angels. (Mt. 13:42-49; 25:31-43; 2Cor 5:10; Rev. 20:12). Thus, the religious teaching of the Ethiopian orthodox Tewahedo church is based on the five pillars of mystery mentioned above.

God bless us all!! Amen!!</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>