<div class="bottom" id="mfooter">
	<div class="list-of-links">
		<ul>
			<li class="list-one" id="first-on-list">
				<ul>
					<li class="head-of-lists">BROTHER CHURCHES</li>
					<li><a class="list-of-lists" href="#">Coptic Orthodox</a></li>
					<li><a class="list-of-lists" href="#">Syriac Orthodox</a></li>
					<li><a class="list-of-lists" href="#">Armenian Apostolic</a></li>
					<li><a class="list-of-lists" href="#">Eritrean Orthodox</a></li>
					<li><a class="list-of-lists" href="#">Malankara (Indian) Orthodox</a></li>
				</ul>
			</li>
			<li class="list-one">
				<ul>
					<li class="head-of-lists">RESOURCES</li>
					<li><a class="list-of-lists" href="#">Amharic PDF Files</a></li>
					<li><a class="list-of-lists" href="#">English PDF Files</a></li>
					<li><a class="list-of-lists" href="#">Mezmurs</a></li>
					<li><a class="list-of-lists" href="#">Teachings</a></li>
					<li><a class="list-of-lists" href="#">Spiritual Zema</a></li>
					<li><a class="list-of-lists" href="#">Books</a></li>
					<li><a class="list-of-lists" href="#">News</a></li>
					<li><a class="list-of-lists" href="#">Other Materials</a></li>
				</ul>
			</li>
			<li class="list-one">
				<ul>
					<li class="head-of-lists">BROTHER CHURCHES</li>
					<li><a class="list-of-lists" href="#">Coptic Orthodox</a></li>
					<li><a class="list-of-lists" href="#">Syriac Orthodox</a></li>
					<li><a class="list-of-lists" href="#">Armenian Apostolic</a></li>
					<li><a class="list-of-lists" href="#">Eritrean Orthodox</a></li>
					<li><a class="list-of-lists" href="#">Malankara (Indian) Orthodox</a></li>
				</ul>
			</li>
			<li class="list-one">
				<ul>
					<li class="head-of-lists">RESOURCES</li>
					<li><a class="list-of-lists" href="#">Amharic PDF Files</a></li>
					<li><a class="list-of-lists" href="#">English PDF Files</a></li>
					<li><a class="list-of-lists" href="#">Mezmurs</a></li>
					<li><a class="list-of-lists" href="#">Teachings</a></li>
					<li><a class="list-of-lists" href="#">Spiritual Zema</a></li>
					<li><a class="list-of-lists" href="#">Books</a></li>
					<li><a class="list-of-lists" href="#">News</a></li>
					<li><a class="list-of-lists" href="#">Other Materials</a></li>
				</ul>
			</li>
			<li class="list-one">
				<ul>
					<li class="head-of-lists">BROTHER CHURCHES</li>
					<li><a class="list-of-lists" href="#">Coptic Orthodox</a></li>
					<li><a class="list-of-lists" href="#">Syriac Orthodox</a></li>
					<li><a class="list-of-lists" href="#">Armenian Apostolic</a></li>
					<li><a class="list-of-lists" href="#">Eritrean Orthodox</a></li>
					<li><a class="list-of-lists" href="#">Malankara (Indian) Orthodox</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="social-glyphs">
		<ul>
			<li id="pull-left-list">
				<ul>
					<li><a href="#">Site Map</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Help</a></li>
				</ul>
			</li>
			<li id="pull-right-list">
				<ul>
					<li id="right-head">follow us</li>
					<li><a href="#" target="_blank">
						<i class="fa fa-linkedin"></i>
					</a></li>
					<li><a href="https://www.facebook.com/pages/Kidanemihret-Kitchener/1579839392285605" target="_blank">
						<i class="fa fa-facebook-official"></i>
					</a></li>
					<li><a href="#" target="_blank">
						<i class="fa fa-twitter"></i>
					</a></li>
					<li><a href="#" target="_blank">
						<i class="fa fa-google-plus"></i>
					</a></li>
					<li><a href="#" target="_blank">
						<i class="fa fa-youtube-play"></i>
					</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<small>
		<div class="copyright-section">
			<p>&copy; 2015 Hamere Noah Kidanemihret Ethiopian Orthodox Tewahido Church in Canada</p>
		</div>
	</small>
</div>