<div class="bottom" id="mfooter">
	<div class="list-of-links">
		<ul>
			<li class="list-one" id="first-on-list">
				<ul>
					<li class="head-of-lists">BROTHER CHURCHES</li>
					<li><a class="list-of-lists" href="https://www.wikiwand.com/en/Coptic_Orthodox_Church_of_Alexandria" target="_blank">Coptic Orthodox</a></li>
					<li><a class="list-of-lists" href="https://www.wikiwand.com/en/Syriac_Orthodox_Church" target="_blank">Syriac Orthodox</a></li>
					<li><a class="list-of-lists" href="https://www.wikiwand.com/en/Armenian_Apostolic_Church" target="_blank">Armenian Apostolic</a></li>
					<li><a class="list-of-lists" href="http://www.wikiwand.com/en/Eritrean_Orthodox_Tewahedo_Church" target="_blank">Eritrean Orthodox</a></li>
					<li><a class="list-of-lists" href="https://www.wikiwand.com/en/Malankara_Orthodox_Syrian_Church" target="_blank">Malankara (Indian) Orthodox</a></li>
				</ul>
			</li>
			<li class="list-one">
				<ul>
					<li class="head-of-lists">RESOURCES</li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/amharic/holybooks/ecclessiasticalbooks.html" target="_blank">Amharic PDF Files</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/english/faith.html" target="_blank">English PDF Files</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/churchmusic/ecclesia.html" target="_blank">Mezmurs</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/amharic/yeqolotbet/yeqolotimheretebet.html" target="_blank">Teachings</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/amharic/yezemametsheft/tarik.html" target="_blank">Spiritual Zema</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/amharic/holybooks/ecclessiasticalbooks.html" target="_blank">Books</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/english/indexenglish.html" target="_blank">News</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/amharic/sibket/sibket.html" target="_blank">Other Materials</a></li>
				</ul>
			</li>
			<li class="list-one">
				<ul>
					<li class="head-of-lists">BROTHER CHURCHES</li>
					<li><a class="list-of-lists" href="http://www.copticpope.org/" target="_blank">Coptic Orthodox</a></li>
					<li><a class="list-of-lists" href="http://syrian-orthodox.com/news.php" target="_blank">Syriac Orthodox</a></li>
					<li><a class="list-of-lists" href="http://www.armenianchurch.org/" target="_blank">Armenian Apostolic</a></li>
					<li><a class="list-of-lists" href="http://tewahdo.org/" target="_blank">Eritrean Orthodox</a></li>
					<li><a class="list-of-lists" href="http://www.malankaraorthodoxchurch.in/" target="_blank">Malankara (Indian) Orthodox</a></li>
				</ul>
			</li>
			<li class="list-one">
				<ul>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/amharic/holybooks/ecclessiasticalbooks.html" target="_blank">Amharic PDF Files</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/english/faith.html" target="_blank">English PDF Files</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/churchmusic/ecclesia.html" target="_blank">Mezmurs</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/amharic/yeqolotbet/yeqolotimheretebet.html" target="_blank">Teachings</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/amharic/yezemametsheft/tarik.html" target="_blank">Spiritual Zema</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/amharic/holybooks/ecclessiasticalbooks.html" target="_blank">Books</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/english/indexenglish.html" target="_blank">News</a></li>
					<li><a class="list-of-lists" href="http://www.ethiopianorthodox.org/amharic/sibket/sibket.html" target="_blank">Other Materials</a></li>
				</ul>
			</li>
			<li class="list-one">
				<ul>
					<li class="head-of-lists">BROTHER CHURCHES</li>
					<li><a class="list-of-lists" href="http://www.copticpope.org/" target="_blank">Coptic Orthodox</a></li>
					<li><a class="list-of-lists" href="http://syrian-orthodox.com/news.php" target="_blank">Syriac Orthodox</a></li>
					<li><a class="list-of-lists" href="http://www.armenianchurch.org/" target="_blank">Armenian Apostolic</a></li>
					<li><a class="list-of-lists" href="http://tewahdo.org/" target="_blank">Eritrean Orthodox</a></li>
					<li><a class="list-of-lists" href="http://www.malankaraorthodoxchurch.in/" target="_blank">Malankara (Indian) Orthodox</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="social-glyphs">
		<ul>
			<li id="pull-left-list">
				<ul>
					<li><a href="#">Site Map</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Help</a></li>
				</ul>
			</li>
			<li id="pull-right-list">
				<ul>
					<li id="right-head">follow us</li>
					<li><a href="https://ca.linkedin.com/pub/kidanemihret-church/101/a67/270" target="_blank">
						<i class="fa fa-linkedin"></i>
					</a></li>
					<li><a href="https://www.facebook.com/pages/Kidanemihret-Kitchener/1579839392285605" target="_blank">
						<i class="fa fa-facebook-official"></i>
					</a></li>
					<li><a href="https://twitter.com/hnkidanemihret" target="_blank">
						<i class="fa fa-twitter"></i>
					</a></li>
					<li><a href="https://plus.google.com/u/0/108427668922910935315/about" target="_blank">
						<i class="fa fa-google-plus"></i>
					</a></li>
					<li><a href="https://www.youtube.com/channel/UCo3LmB2RJKbP0ZeHNZHGmxQ/about" target="_blank">
						<i class="fa fa-youtube-play"></i>
					</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<small>
		<div class="copyright-section">
			<p>&copy; 2015 Hamere Noah Kidanemihret Ethiopian Orthodox Tewahido Church in Canada</p>
		</div>
	</small>
</div>