<div class="bottom" id="mfooter">
	<h2>Our Church on Social Media</h2>
	<div class="cont">
		<div class="my-btn">
			<a href="https://www.facebook.com/pages/Kidanemihret-Kitchener/1579839392285605" target="_blank" class="links">
				<i class="fa fa-facebook"></i>
			</a>
		</div>
		<div class="my-btn">
			<a href="https://www.facebook.com/pages/Kidanemihret-Kitchener/1579839392285605" target="_blank" class="links">
				<i class="fa fa-twitter"></i>
			</a>
		</div>
		<div class="my-btn">
			<a href="https://www.facebook.com/pages/Kidanemihret-Kitchener/1579839392285605"  target="_blank" class="links">
				<i class="fa fa-google-plus"></i>
			</a>
		</div>
		<div class="my-btn">
			<a href="https://www.facebook.com/pages/Kidanemihret-Kitchener/1579839392285605" target="_blank" class="links">
				<i class="fa fa-youtube-play"></i>
			</a>
		</div>
	</div>
	<div>
		<p>&copy; 2015 Hamere Noah Kidanemihret Ethiopian Orthodox Tewahido Church in Canada</p>
	</div>
</div>