<div class="bottom" id="mfooter">
	
	<div class="row">
		<div class="col-md-6">
			<a class="twitter-timeline" href="https://twitter.com/hashtag/ethiopia" data-widget-id="621938298739519488">#ethiopia Tweets</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="col-md-6">
			<a class="twitter-timeline" href="https://twitter.com/hashtag/orthodox" data-widget-id="621934401912320000">#orthodox Tweets</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
	
			<!--<h2>Our Church on Social Media</h2>-->
	<div class="cont">
		<div class="my-btn link1">
			<a href="https://www.facebook.com/pages/Kidanemihret-Kitchener/1579839392285605" target="_blank" class="links">
				<i class="fa fa-facebook myfa"></i>
			</a>
		</div>
		<div class="my-btn link2">
			<a href="https://www.facebook.com/pages/Kidanemihret-Kitchener/1579839392285605" target="_blank" class="links">
				<i class="fa fa-twitter myfa"></i>
			</a>
		</div>
		<div class="my-btn link3">
			<a href="https://www.facebook.com/pages/Kidanemihret-Kitchener/1579839392285605"  target="_blank" class="links">
				<i class="fa fa-google-plus myfa"></i>
			</a>
		</div>
		<div class="my-btn link4">
			<a href="https://www.facebook.com/pages/Kidanemihret-Kitchener/1579839392285605" target="_blank" class="links">
				<i class="fa fa-youtube-play myfa"></i>
			</a>
		</div>
	</div>
	
	<small>
		<div class="copyright-section">
			<p>&copy; 2015 Hamere Noah Kidanemihret Ethiopian Orthodox Tewahido Church in Canada</p>
		</div>
	</small>
</div>